/* every php pages */
html {
    background: url("../../../dashboard-users/core/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #010b15;
    color: #cccccc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

*:hover {
    transition: all 0.5s ease-out;
}

form {
    margin: auto;
    width: 50%;
}

tr td input[type='text'],
tr td input[type='password'],
tr td textarea {
    padding: 10px;
    width: 98%;
    border: 3px solid #f04d5c;
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0.4);
}

tr td textarea {
    resize: vertical;
    min-height: 400px;
}

tr td label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr td input[type='submit'],
tr td input[type='file'],
tr td select {
    padding: 10px;
    width: 300px;
    border: 3px solid #f04d5c;
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


tr td input[type='button'] {
    padding: 10px 60px;
    margin-bottom: 5px;
    border: 3px solid #f04d5c;
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

tr td select {
    padding: 9px 10px;
}

tr td input[type='text']:hover,
tr td input[type='text']:focus,
tr td input[type='submit']:hover,
tr td input[type='submit']:focus,
tr td input[type='button']:hover,
tr td input[type='button']:focus,
tr td input[type='password']:hover,
tr td input[type='password']:focus,
tr td textarea:hover,
tr td textarea:focus {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
}

tr td input[type='submit']:hover{
    letter-spacing: 2px;
}
/* --------------------------------------------------------------------------------------------------- */
/* navbar.php */
nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 60px;
}

nav .nav{
    width: 80%;
    margin: auto;
}

nav .nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

nav .nav ul li{
    display: inline;
    text-align: center;
    width: 20%;
}

nav .nav ul li a{
    display: block;
}

nav .nav ul li a p{
    margin: 0;
    margin-top: -60px;
    color: #cccccc;
    font-size: 20.5px;
    padding: 18px;
}

nav .nav ul li a p:hover{
    letter-spacing: 2px;
    margin-bottom: -3px;
    border-bottom: 3px solid #f04d5c;
}

nav .button_preview p{
    margin: 0;
    width: 10%;
    text-align: center;
    font-size: 20.5px;
    padding: 18px;
    cursor: pointer;
}

nav .button_preview p:hover{
    letter-spacing: 2px;
}

nav .preview{
    position: fixed;
    width: 100%;
}

nav .preview .preview_content{
    margin: auto;
    width: 80%;
}

nav .preview .preview_content iframe{
    margin-top: 30px;
    width: 100%;
    height: 800px;
    border: 3px solid #f04d5c;
}

nav .preview .preview_content i{
    position: absolute;
    margin-top: 33px;
    margin-left: 4.5px;
    font-size: 40px;
}

nav .preview .preview_content i:hover{
    color: #f04d5c;
}
/* --------------------------------------------------------------------------------------------------- */